spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: my-shared-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      # Wrap JsonDeserializer so deserialization exceptions are handled gracefully
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        # delegate the work to JsonDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer

        # Trust both the consumer and producer packages (narrow in prod)
        spring.json.trusted.packages: "com.kadri.consumer.model,com.kadri.producer.model"

        # If header is missing or cannot be resolved, deserialize into this local class
        spring.json.value.default.type: com.kadri.consumer.model.MessageEvent

        # Map the producer FQCN -> consumer FQCN so the incoming __TypeId__ is resolved
        spring.json.type.mapping: "com.kadri.producer.model.MessageEvent:com.kadri.consumer.model.MessageEvent"

    listener:
      missing-topics-fatal: false

app:
  topic: demo-topic
