server:
  port: 8081

spring:
  application:
    name: order-service

  datasource:
    url: jdbc:mysql://localhost:3307/orderdb
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


payment:
  service:
    url: http://localhost:8082/api/v1

logging:
  level:
    root: INFO
    org.springframework.web.client.RestTemplate: DEBUG
